.carrusel img {
    margin-top: 40px;
    width: 100%;
    height: 400px;
}
.titulo-productos{
    text-align: center;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin: 40px;
    height: 100%;
    border: solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}


.contenedor-titulo {
    display: flex;
    justify-content: center;
}