
.contenedor-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 1%, 65%, 0.498);
    background-size: cover;
}
